<% layout("./layout/boilerplate.ejs") %>
<body>
   <div class="row">
    <div class="col offset-3"><h4>Edit Your Listings</h4></div>
   </div>


    <div class="row "  >
        <div class="col-5 offset-3">
           <form method="POST" action="/listings/<%=editdata._id%>/?_method=PUT">
            <label class="form-label " for="title">Enter Title</label>
            <input class="form-control mb-4" name="listingdata[title]" type="text" value="<%=editdata.title%>">

            <label class="form-label" for="title">Enter Description</label>
            <input class="form-control mb-4" name="listingdata[description]" type="text" value="<%=editdata.description%>">

            <label class="form-label" for="title">Image Url</label>
            <input class="form-control mb-4" name="listingdata[image.url]" type="text" value="<%=editdata.image.url%>">

            <label class="form-label" for="title">Enter title</label>
            <input class="form-control mb-4" name="listingdata[price]" type="number" value="<%=editdata.price%>">

            <label class="form-label" for="title">Enter title</label>
            <input class="form-control mb-4" name="listingdata[country]" type="text" value="<%=editdata.country%>">

            <label class="form-label" for="title">Enter title</label>
            <input class="form-control mb-4" name="listingdata[location]" type="text" value="<%=editdata.location%>">

            <button class="btn btn-primary mt-3">Submit</button>
            
           </form>
            
        </div>
    </div>
</body>
